@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align:center;
    background-image: linear-gradient(315deg, #36096d 0%, #368787 74%);
}
.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
    

}
/* nav css */
/* (A) ON BIG SCREEN */
/* (A1) HORIZONTAL MENU */
#hamItems { display: flex; word-spacing: 1px;
 }
#hamItems a { width: 100%; }
/* (A2) HIDE HAMBURGER ICON */
#hamNav label, #hamburger { display: none; }

/* (B) ON SMALL SCREEN */
@media only screen and (max-width: 768px) {
  /* (B1) SHOW HAMBURGER ICON */
  #hamNav label { display: inline-block; }
  /* (B2) BREAK ITEMS INTO SINGLE COLUMN */
  #hamItems { flex-wrap: wrap; }
  /* (B3) TOGGLE SHOW/HIDE */
  #hamItems { display: none; }
  #hamNav input:checked ~ #hamItems { display: flex; }
}

/* (X) NOT IMPORTANT - COSMETICS */
#hamNav label { font-size: 1.5em; }
#hamNav {
  padding : 10px;

 
  
}
#hamNav, #hamItems a {
  color: #fff;
  text-decoration: none;
}
#hamItems a { padding: 10px; }
#hamItems a:hover { color: #8a2222; }



/* end of nav css */




.header {
  
    height: 10px;  

}
.footer{
   
    height:300px;
}
.main {
    
    text-align: center;
    height: 100%;
    font-size: 30px;
    text-align: left;
    font-family: 'Uchen', serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


h1{
    font-size: 60px;
}

.data {
    font-family: Poppins;
    color: #fff;
    font-size: 70px;
    letter-spacing: 12px;
    font-weight: 800;
    transform: translate(- 50%, -50%);

}
  
  
 



.aside1 {
    background: gold;
}
.aside2 {
    background: hotpink;
}







/* footer css starts here */

#footer{

    font-family: sans-serif;
    color: black;
	height: 100%;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}
.footer-content p{
    max-width:  500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.socials li{
    margin: 0 10px;

}.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a li {
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover{
    color: aqua;
}
.footer-bottom{
    color: black;
	font-size: bold;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
@media all and (min-width:800px){
    .main{
        flex: 3;
        
    }
    .aside1{
        order: 1;
    }
    .aside2{
        order:2;
    }
    .main{
        order: 2;
       

    }
    .footer{
        order: 4
    }
}
@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
   
}
